#Removing all skins for apps to keep repository clean
*/*

#Keeping Dev folder as an example
!Dev/*
Dev/*/

#Keeping Resources folder for lua scripts and file structure
!@Resources/*

#Keeping img folder empty to avoid Copyright infringements
@Resources/img/*.*
#Keeping links folder empty to not leak personal info
@Resources/links/*.*
